[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
black = "==19.10b0"
hypercorn = "*"
bump2version = "*"
twine = "*"

[packages]
fastapi = "*"

[requires]
python_version = "3.8"
